*{
    margin: 0px;
    padding: 0px;
    height: 70px;
}
body{
  background-image:url(images/image.png) ;  
  height: 400px;
  width: 100%;
  background-size: cover;

}


.nav{
 display: flex;   
justify-content: space-evenly;
list-style-type: none;

}
nav  li a{
    text-align: none;
    
}

.logo{
    float: left;
    margin-right: 100px;
   width:100px; 
   height: 50px;
}
.head{
    line-height:110px;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: larger;
}
.btn{
border-radius: 27px;
border-color: white;
height: 30px;
width: 100px;


}



